<nz-card [nzTitle]="'information' | translate">
  <div nz-row>
    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "city" | translate }}</h4>
      <span>{{ weatherDetails?.city }}</span>
    </div>
    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "temperature" | translate }}</h4>
      <span
        >{{ weatherDetails?.temperature }} {{ temperatureUnit$ | async }}</span
      >
    </div>

    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "date" | translate }}</h4>
      <span>{{ weatherDetails?.date | date : "long" : timezone }}</span>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "rainingStatus" | translate }}</h4>
      <span>{{ weatherDetails?.rainingStatus }}</span>
    </div>
    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "altitude" | translate }}</h4>
      <span>{{ weatherDetails?.altitude }}</span>
    </div>

    <div nz-col nzSpan="8" class="details-item">
      <h4>{{ "networkStatus" | translate }}</h4>
      <span
        networkStatus
        [value]="weatherDetails?.networkPower"
        class="network-power"
        >{{ weatherDetails?.networkPower }}</span
      >
    </div>
  </div>
</nz-card>
