<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city">{{
      "city" | translate
    }}</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid City!"
    >
      <input nz-input formControlName="city" id="city" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="temperature">{{
      "temperature" | translate
    }}</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid Temperature!"
    >
      <input nz-input formControlName="temperature" id="temperature" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="rainingStatus">{{
      "rainingStatus" | translate
    }}</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid Raining Status!"
    >
      <input nz-input formControlName="rainingStatus" id="rainingStatus" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="date">{{
      "date" | translate
    }}</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not a valid date!"
    >
      <nz-date-picker formControlName="date"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="networkPower">{{
      "networkStatus" | translate
    }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <!-- <input nz-input formControlName="networkPower" id="networkPower" /> -->
      <nz-slider
        [nzMin]="1"
        [nzMax]="5"
        formControlName="networkPower"
        [maxlength]="100"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="altitude">{{
      "altitude" | translate
    }}</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid Altitude!"
    >
      <input nz-input formControlName="altitude" id="altitude" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="btn-submit">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="validateForm.invalid">
        {{ "submit" | translate }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
